<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <div class="logo">
      <a class="navbar-brand" href="/"><img src="http://localhost:3000/image/header/brand.jpg" id="brand"> Animals_API</a>
    </div>
      <button class="navbar-toggler p-0 m-0 rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <img src="http://localhost:3000/image/icon/burger.png" class="rounded-circle" height="30">
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link Home page-scroll" aria-current="page" href="#Home">Home</a>
          <a class="nav-link BaseURL page-scroll" href="#BaseURL">BaseURL</a>
          <a class="nav-link QueryTable page-scroll" href="#QueryTable">QueryTable</a>
          <a class="nav-link Example page-scroll" href="#Example">Example</a>
          <a class="nav-link Footer page-scroll" href="#Footer">Footer</a>
          <a class="nav-link" href="/APIkey">API Key</a>
        </div>
      </div>
    </div>
  </nav>